@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="card offset-2 col-md-8">
        <div class="card-body">
            <h1 class="display-4" style="margin-bottom:20px">Tax Calculator</h1>
            <p>This is a assessment project for Payspace. It contains a tax calculator that follows the specified parameters.</p>
            <div class="offset-4 col-md-4" style="margin-top:125px">
                <button class="form-control bg-primary" id="btnContinue" style="color:white;">Continue to Calculator</button>
            </div>
        </div>
    </div>   
</div>

@section scripts {

    <script type="text/javascript">
        $('#btnContinue').on('click', function () {
            window.location = "/Calculator";
        });
    </script>   

}