@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tax Calculator</h1>
    <p>This is a assessment project for Pay Space. It contains a tax calculator that follows the specified parameters.</p>
    <button class="form-control bg-primary" id="btnContinue">Continue to Calculator</button>
</div>
